.places__text {
  margin: 0;
  padding: 0 16px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  justify-items: start;
}

.places__text:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 768px)  {
  .places__text {
    padding-left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .places__text {
    font-size: 18px;
    line-height: 1.61;
  }
}

