.lead__subtitle {
    max-width: 288px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    margin: 16px 0 40px;
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        margin: 32px 0 56px;
        max-width: 640px;
        font-size: 30px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        margin-bottom: 64px;
    }
}
