.cover {
  width: 100%;
  aspect-ratio: 1.6 / 1;
  background-image: url(../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (min-width: 1280px) {
  .cover {
    padding-left: 48px;
    padding-right: 48px;
    width: 1184px;
  }
}
